<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aprendencdo Vue JS sem Node</title>
</head>
<body>
    <div id="app">
        <section>
            <header>
                <h1>{{title}}</h1>
            </header>
            <input type="text" v-model="newState">
            <button v-on:click="addStateList">Adicionar</button>
            <div v-for="item in states">
                <p>{{item.id}} {{item.nome}}</p>
            </div>
            <p>{{newState}}</p>
        </section>

    </div>

    <!--inserção do node em baixo para melhora de performance-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>